/* Colors */
.dark-gray {
  color: #474747 !important;
}

.light-gray {
  color: #e1e1e1 !important;
}

.pale-yellow {
  color: #f1eb9c !important;
}

.pale-yellow-background {
  background-color: #f1eb9c;
  color: #fff;
}

.peach {
  color: #ffb3ab !important;
}

.peach-background {
  background-color: #ffb3ab;
  color: #fff;
}

.purple {
  color: #470c68 !important;
}

.purple-background {
  background-color: #470c68;
  color: #fff;
}

.blue {
  color: #003057 !important;
}

.blue-background {
  background-color: #003057;
  color: #fff;
}

.light-blue {
  color: #007398 !important;
}

.light-blue-background {
  background-color: #007398;
  color: #fff;
}

.very-light-blue {
  color: #7bafde !important;
}

.very-light-blue-background {
  background-color: #7bafde;
  color: #fff;
}

.dark-blue {
  color: #0a2b4c !important;
}

.dark-blue-background {
  background-color: #0a2b4c;
  color: #fff;
}

.pink {
  color: #a20067 !important;
}

.pink-background {
  background-color: #a20067;
  color: #fff;
}

.dark-pink {
  color: #91005d !important;
}

.dark-pink-background {
  background-color: #91005d;
  color: #fff;
}

.orange {
  color: #dc4405 !important;
}

.orange-background {
  background-color: #dc4405;
  color: #fff;
}

.dark-orange {
  color: #c53d03 !important;
}

.dark-orange-background {
  background-color: #c53d03;
  color: #fff;
}

.white {
  color: #fff !important;
}

.white-background {
  background-color: #fff;
}

.white-transparent {
  color: white;
  opacity: .7;
}

.light-purple {
  color: #a20067 !important;
}

.light-purple-background {
  background-color: #a20067;
  color: #fff;
}

.green {
  color: #034638 !important;
}

.green-background {
  background-color: #034638;
  color: #fff;
}

.maroon {
  color: #96232f !important;
}

.maroon-background {
  background-color: #96232f;
  color: #fff;
}

.light-green {
  color: #487a7b !important;
}

.light-green-background {
  background-color: #487a7b;
  color: #fff;
}

/* Colors */
.pale-yellow {
  color: #f1eb9c !important;
}

.pale-yellow-background {
  background-color: #f1eb9c;
  color: #fff;
}

.peach {
  color: #ffb3ab !important;
}

.peach-background {
  background-color: #ffb3ab;
  color: #fff;
}

.purple {
  color: #470c68 !important;
}

.purple-background {
  background-color: #470c68;
  color: #fff;
}

.blue {
  color: #003057 !important;
}

.blue-background {
  background-color: #003057;
  color: #fff;
}

.light-blue {
  color: #007398 !important;
}

.light-blue-background {
  background-color: #007398;
  color: #fff;
}

.very-light-blue {
  color: #7bafde !important;
}

.very-light-blue-background {
  background-color: #7bafde;
  color: #fff;
}

.dark-blue {
  color: #0a2b4c !important;
}

.dark-blue-background {
  background-color: #0a2b4c;
  color: #fff;
}

.pink {
  color: #a20067 !important;
}

.pink-background {
  background-color: #a20067;
  color: #fff;
}

.dark-pink {
  color: #91005d !important;
}

.dark-pink-background {
  background-color: #91005d;
  color: #fff;
}

.orange {
  color: #dc4405 !important;
}

.orange-background {
  background-color: #dc4405;
  color: #fff;
}

.dark-orange {
  color: #c53d03 !important;
}

.dark-orange-background {
  background-color: #c53d03;
  color: #fff;
}

.white {
  color: #fff !important;
}

.white-background {
  background-color: #fff;
}

.white-transparent {
  color: white !important;
  opacity: .7 !important;
}

.light-purple {
  color: #a20067 !important;
}

.light-purple-background {
  background-color: #a20067;
  color: #fff;
}

.green {
  color: #034638 !important;
}

.green-background {
  background-color: #034638;
  color: #fff;
}

.maroon {
  color: #96232f !important;
}

.maroon-background {
  background-color: #96232f;
  color: #fff;
}

.light-green {
  color: #487a7b !important;
}

.light-green-background {
  background-color: #487a7b;
  color: #fff;
}

.events-blue {
  color: #e2eff2 !important;
}

.events-blue-background {
  background-color: #e2eff2;
  color: #000;
}

.light-gray {
  color: #e1e1e1 !important;
}

.light-gray-background {
  background-color: #e1e1e1;
  color: #000;
}

.eie-blue {
  color: #4089bd !important;
}
