//***Styling for Hero Image Block***//

.hero-image img {
  width: 100%;
  display: block;
}
.hero-image.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.hero-content {
  padding-top: 0px;
  padding-right: 30px;
  padding-left: 30px;
  width: 100%;
  text-shadow: 1px 1px 3px rgba(0,27,48,1);
  height: 70px;
  h1 {
    color: white;
    font-size: 75px;
    font-weight: 700;
    font-style: normal;
    padding-bottom: 0px;
    line-height: 1;
  }
  h2 {
    color: white;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    width: 75%;
  }
  h3 {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
  }
  h4 {
    color: $paleYellow;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    padding-top: 0px;
    line-height: 1.8;
  }
  h5 {
    color: white;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    padding-top: 34px;
  }
  i {
    font-size: 18px;
  }

  @media screen and (max-width: $breakMedium) {
    padding-top: 165px;
    width: 100%;
  }
  @media screen and (max-width: $breakSmall) {
    padding-top: 165px;
    padding-right: 5px;
    padding-left: 5px;
    width: 100%;
    h1 {
      font-size: 45px;
    }
    h2 {
      font-size: 20px;
    }
    h3 {
      font-size: 18px;
    }
    h4 {
      font-size: 20px;
    }
    h5 {
      font-size: 14px;
    }
    i {
      font-size: 26px;
    }
  }
}

@media (max-width: 801px) {
  .media-slide-content .media-slide-title {
    width: 100%;
    margin-left: calc(20vw - 10%);
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    /*max-width: 600px;*/
    *zoom: 1;
  }
  .media-slide-content .media-slide-text {
    width: 100%;
    margin-left: calc(20vw - 10%);
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 600px;
    *zoom: 1;
  }

  .media-slide-cta {
    position: absolute;
    top: 235px;
  }
}

.media-slide-image {
  height: 400px;
  width: 100vw;
  object-fit: cover;
}
.media-slide-opacity-layer {
  height: 400px;
  width: 64%;
}
.media-slide-title {

  h2 {
    font-family: Arial, sans-serif;
    font-size: 36px;
    font-weight: bold;
    line-height: 35px;
    color: #fff;
    width: 100%;
  }
}

.media-hero-title {
  text-shadow: 1px 1px 3px #001b30;
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: #fff;
  line-height: 35px;

  h1 {
    font-size: 4.5rem;
  }

  h2 {
    font-size: 3.5rem;
  }
}

@include media-breakpoint-up(lg) {

  .slideshow-wrapper {
    right: 2vw !important;
    width: 101vw !important;
    height: 440px !important;
    overflow: hidden !important;
  }

  .slide__caption {
    width: 55% !important;
  }

  .media-slide-content .media-slide-cta a {
    margin-left: calc(20vw - 10%) !important;
    margin-right: auto !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    /* max-width: 600px; */
    *zoom: 1 !important;
  }
}

  .slick-dots {
    bottom: 65% !important;

    li > button {
        width: 20px !important;
        height: 20px !important;
        border-radius: 50px !important;
        font-size: 0px !important;
        color: #fff !important;
        line-height: 100px !important;
        text-align: center !important;
        display: inline !important;
        margin: 0px !important;
        padding: 0px !important;
        outline: none !important;
      }
}

.media-hero-text {
  width: 100%;
  font-family: Arial, sans-serif;
  font-size: 22px;
  color: #fff;
  padding: 20px;
}

span.media-slide-text {
  width: 100%;
  font-family: Arial, sans-serif;
  font-size: 22px;
  color: #fff;
  overflow: hidden;
  z-index: 1000002;
  padding: 20px;
}

.media-slide-title {

  h2 {
    font-family: Arial, sans-serif;
    font-size: 36px;
    font-weight: bold;
    line-height: 35px;
    color: #fff;
  }
}

.media-slide-cta {

  width: 100%;

  a {
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    padding: 12px 24px;
    background: #4089BD;
    white-space: nowrap;
    z-index: 1000002;
    position: absolute;
    top: 208px;
  }
}

.full-width-hero {
  background: blue;
  width: 103vw;
  position: relative;
  left: 36vw;
  margin-left: -53vw;
  height: 400px;
  overflow: hidden;
}

img.image-style-hero-image {
  width: 100%;
  height: 100%;
  position: absolute;
  visibility: hidden;
}

.page-hero-region {
  position:relative;
  bottom: 60px;
}

.page-hero-text {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}
