@include media-breakpoint-up(lg) {

  .media-slide-content {
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    *zoom: 1 !important;
  }

  .media-slide-title {

    position: absolute;
    top: 98px;
    left: 282px;
    width: 50%;
    max-width: 600px;
    padding: 20px;
    height: 100px;
    overflow: hidden;
    z-index: 1000002;

    h2 {
      font-family: Arial, sans-serif;
      font-size: 36px;
      font-weight: bold;
      line-height: 35px;
      color: #fff;
    }
  }

  .media-slide-text {
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: 22px;
    color: #fff;
    overflow: hidden;
    z-index: 1000002;
    position: absolute;
    max-width: 600px;
    padding: 0px;
    left: 300px;
    top: 195px;
    line-height: 1;
  }

  .media-slide-cta {

    width: 100%;

    a {
      font-family: Arial, sans-serif;
      font-size: 12px;
      font-weight: bold;
      color: #fff;
      text-transform: uppercase;
      padding: 12px 24px;
      background: #4089BD;
      white-space: nowrap;
      z-index: 1000002;
      position: absolute;
      top: 75%;
      left: 19%;
    }
  }

  .slide__caption {
    padding: 0px !important;
  }

  .slick-dots {
    bottom: 3% !important;

    li > button {
      width: 20px !important;
      height: 20px !important;
      border-radius: 50px !important;
      font-size: 0px !important;
      color: #fff !important;
      line-height: 100px !important;
      text-align: center !important;
      display: inline !important;
      margin: 0px !important;
      padding: 0px !important;
      outline: none !important;
    }
  }
}
