//
// Colors
//

// Brand Colors
$eie-red: #da291c;
$eie-yellow: #ffb700;
$eie-blue: #4089bd;
$eie-green: #4db4b5;
$eie-purple: #662d91;
$eie-charcoal: #474747;
$eie-light-blue: #f3f3f3;
$eie-light-yellow: #fef4d8;

// Base Colors
$primary-color: #da291c;
$secondary-color: #f1f1f1;
$accent-color: #8a8d8f;
$link-color: $primary-color;
$text-color: #474747;

// Generic Colors
$white: #ffffff;
$pale-yellow: #fcd262;
$pale-blue: #acc5e4;
$lighter-blue: #f4f5f9;
$light-gray: #f2f2f2;
$lighter-gray: #f3f3f3;
$dark-gray: #c4c6c7;

// PRODUCT COLORS
$wee-engineer: $eie-purple;
$wee-engineer-dark: #663090;
$wee-engineer-light: #c2509d;
$eie-for-kindergarten: #ff7945;
$eie-for-kindergarten-dark: #f89a42;
$eie-for-kindergarten-light: #ffef00;
$engineering-is-elementary: $primary-color;
$engineering-is-elementary-dark: #ee3124;
$engineering-is-elementary-light: #f37021;
$engineering-adventures: $eie-blue;
$engineering-adventures-dark: #214391;
$engineering-adventures-light: #37c5f0;
$engineering-everywhere: $eie-green;
$engineering-everywhere-dark: #4eb3b4;
$engineering-everywhere-light: #78c9b0;

$peach: #ffb3ab;
$purple: #470c68;
$blue: #003057;
$darkBlue: #0a2b4c;
$lightBlue: #007398;
$veryLightBlue: #7bafde;
$lightPink: #c766a3;
$pink: #a20067;
$darkPink: #91005d;
$orange: #dc4405;
$darkOrange: #c53d03;
$lightGray: #e1e1e1;
$darkGray: #474747;
$paleYellow: #f1eb9c;
$lightPurple: #a20067;
$green: #034638;
$lightGreen: #487a7b;
$maroon: #96232f;
$breakSmall: 768px;
$breakMedium: 992px;
$breakLarge: 1200px;
$black: #000000;
$white: #ffffff;
$primaryColor: $darkPink;
$secondaryColor: $darkBlue;
$primaryColorOnDarkBackground: $paleYellow;
$secondaryColorOnDarkBackground: $darkPink;
$gray: #dcdcdc;

/* Colors */

.dark-gray {
  color: $darkGray !important;
}

.light-gray {
  color: $lightGray !important;
}

.pale-yellow {
  color: $paleYellow !important;
}

.pale-yellow-background {
  background-color: $paleYellow;
  color: #fff;
}

.peach {
  color: $peach !important;
}

.peach-background {
  background-color: $peach;
  color: #fff;
}

.purple {
  color: $purple !important;
}

.purple-background {
  background-color: $purple;
  color: #fff;
}

.blue {
  color: $blue !important;
}

.blue-background {
  background-color: $blue;
  color: #fff;
}

.light-blue {
  color: $lightBlue !important;
}

.light-blue-background {
  background-color: $lightBlue;
  color: #fff;
}

.very-light-blue {
  color: $veryLightBlue !important;
}

.very-light-blue-background {
  background-color: $veryLightBlue;
  color: #fff;
}

.dark-blue {
  color: $darkBlue !important;
}

.dark-blue-background {
  background-color: $darkBlue;
  color: #fff;
}

.pink {
  color: $pink !important;
}

.pink-background {
  background-color: $pink;
  color: #fff;
}

.dark-pink {
  color: $darkPink !important;
}

.dark-pink-background {
  background-color: $darkPink;
  color: #fff;
}

.orange {
  color: $orange !important;
}

.orange-background {
  background-color: $orange;
  color: #fff;
}

.dark-orange {
  color: $darkOrange !important;
}

.dark-orange-background {
  background-color: $darkOrange;
  color: #fff;
}

.white {
  color: #fff !important;
}

.white-background {
  background-color: #fff;
}

.white-transparent {
  color: white;
  opacity: .7;
}

.light-purple {
  color: $lightPurple !important;
}

.light-purple-background {
  background-color: $lightPurple;
  color: #fff;
}

.green {
  color: $green !important;
}

.green-background {
  background-color: $green;
  color: #fff;
}

.maroon {
  color: $maroon !important;
}

.maroon-background {
  background-color: $maroon;
  color: #fff;
}

.light-green {
  color: $lightGreen !important;
}

.light-green-background {
  background-color: $lightGreen;
  color: #fff;
}


$peach: #ffb3ab;
$purple: #470c68;
$blue: #003057;
$darkBlue: #0a2b4c;
$lightBlue: #007398;
$veryLightBlue: #7bafde;
$lightPink: #c766a3;
$pink: #a20067;
$darkPink: #91005d;
$orange: #dc4405;
$darkOrange: #c53d03;
$lightGray: #e1e1e1;
$darkGray: #1e1e1e;
$paleYellow: #f1eb9c;
$lightPurple: #a20067;
$green: #034638;
$lightGreen: #487a7b;
$maroon: #96232f;
$eventsBlue: #e2eff2;
$breakSmall: 768px;
$breakMedium: 992px;
$breakLarge: 1200px;
$black: #000000;
$white: #ffffff;
$primaryColor: $darkPink;
$secondaryColor: $darkBlue;
$primaryColorOnDarkBackground: $paleYellow;
$secondaryColorOnDarkBackground: $darkPink;
$gray: #dcdcdc;

/* Colors */

.pale-yellow {
  color: $paleYellow !important;
}

.pale-yellow-background {
  background-color: $paleYellow;
  color: #fff;
}

.peach {
  color: $peach !important;
}

.peach-background {
  background-color: $peach;
  color: #fff;
}

.purple {
  color: $purple !important;
}

.purple-background {
  background-color: $purple;
  color: #fff;
}

.blue {
  color: $blue !important;
}

.blue-background {
  background-color: $blue;
  color: #fff;
}

.light-blue {
  color: $lightBlue !important;
}

.light-blue-background {
  background-color: $lightBlue;
  color: #fff;
}

.very-light-blue {
  color: $veryLightBlue !important;
}

.very-light-blue-background {
  background-color: $veryLightBlue;
  color: #fff;
}

.dark-blue {
  color: $darkBlue !important;
}

.dark-blue-background {
  background-color: $darkBlue;
  color: #fff;
}

.pink {
  color: $pink !important;
}

.pink-background {
  background-color: $pink;
  color: #fff;
}

.dark-pink {
  color: $darkPink !important;
}

.dark-pink-background {
  background-color: $darkPink;
  color: #fff;
}

.orange {
  color: $orange !important;
}

.orange-background {
  background-color: $orange;
  color: #fff;
}

.dark-orange {
  color: $darkOrange !important;
}

.dark-orange-background {
  background-color: $darkOrange;
  color: #fff;
}

.white {
  color: #fff !important;
}

.white-background {
  background-color: #fff;
}

.white-transparent {
  color: white !important;
  opacity: .7 !important;
}

.light-purple {
  color: $lightPurple !important;
}

.light-purple-background {
  background-color: $lightPurple;
  color: #fff;
}

.green {
  color: $green !important;
}

.green-background {
  background-color: $green;
  color: #fff;
}

.maroon {
  color: $maroon !important;
}

.maroon-background {
  background-color: $maroon;
  color: #fff;
}

.light-green {
  color: $lightGreen !important;
}

.light-green-background {
  background-color: $lightGreen;
  color: #fff;
}

.events-blue {
  color: $eventsBlue !important;
}

.events-blue-background {
  background-color: $eventsBlue;
  color: #000;
}

.light-gray {
  color: $lightGray !important;
}

.light-gray-background {
  background-color: $lightGray;
  color: #000;
}

.eie-blue {
  color: $eie-blue !important;
}
