@import "colors";

body {
  font-size: 1.1rem !important;
}

/** Grid Overrides to match eie.org original styling **/
@media (min-width: 1200px) {
  .container {
    max-width: 961px !important;
  }
}


//***MoS Branding at Top of Page***//
.mos-branding {
  background-color: $light-gray;
  height: 26px;
  padding: 5px;
}

.mos-logo-header {
  position: relative;
  bottom: 6px;
}

//***Site Logo Block***//
a.navbar-brand img {
    height: 90px;
    width: auto;

  @media (max-width: 979px) and (min-width: 120px) {
    height: 64px;
    width: auto;
    position: relative;
    bottom: 40px;
  }
}

//***TOP MENUS***//
.secondary-menu {
  position: relative;
  left: 1px;
}
.menu--main {
  margin-left: auto;
  margin-right: auto;
}

.nav-link {
  color: $darkGray;

  :hover {
    color: blue;
  }

  :focus {
    color: blue;
  }
}

.superfish-secondary-navigation {

  @media (min-width: 576px) {
    position: relative;
    top: 5px;
  }

  @media (max-width: 575px) {
    visibility: hidden;
    float:right;
  }
}

.sf-depth-2 {
  background: white;
}

.superfish-main-navigation {


  float:right;
}

.sf-depth-2 {
  background: white;
}

ul.sf-menu a, ul.sf-menu span.nolink {
  display: block;
  padding: 1em 1.1em;
  position: relative;
}

a.secondary-nav-link {
  color: $darkGray;
  font-size: 14px !important;
  font-family: Arial, sans-serif;
  font-weight: normal;
  padding: 15px 13px;
  -webkit-font-smoothing: antialiased;
}

//** navbar **//
.navbar {
  position: relative;
  z-index: 4;
  height: 93px;
  margin-bottom: 4px;
  padding: 0.1rem 1rem !important;
}

.navbar-nav li.nav-item > a.nav-link {
  color: $darkGray;
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  padding: 15px 15px;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: $darkGray;
}

#superfish-secondary-navigation-toggle {
  position: relative;
  bottom: 5px;
}

.shop-eie-button {
  //**wrapper for Shop EiE Button to style on non-mobile displays**//
}

.show-on-mobile {
  //**Show only on mobile, hide on other screens**//
  @media (max-width: 575px) {
    visibility: visible;
  }
  visibility: hidden;

  a.shop-eie {
    bottom: 17px;
  }
}

.hide-on-mobile {
  //**Hide on mobile, show on other screen sizes**//
}

a.shop-eie {
  position: relative;
  font-family: Arial, sans-serif;
  font-size: 12px !important;
  font-weight: bold;
  color: #fff !important;
  text-transform: uppercase;
  padding: 12px 24px !important;
  background: #4089BD;
  white-space: nowrap;

  @media (max-width:575px){
    left: 17px;
  }
}

//**Search Bar**//
.form-row.search-block-form.search-form {
  position: relative;
  top: 11px;
  left: 27px;
}


@media (min-width: 576px) {
  svg.svg-inline--fa.fa-search.fa-w-16.float-right {
    position: relative;
    bottom: 28px;
    left: 125px;
  }
}

svg.svg-inline--fa.fa-search.fa-w-16.float-right {
    position: relative;
    bottom: 28px;
    right: 10px;
}

//**Search bar button hidden**//
.search-block-form button {
    display: none;
}

//**Main Nav (Superfish)**//
.menu-main {
  height: 46px;
  margin-top: 33px;

  @media (max-width: 576px) {
    height: 24px;
    margin-top: 20px
  }
}

.block-superfishmain {
  justify-content: center;
  display: flex;
  width: 100%;
  margin-top: -2px;
  position: relative;
  top: 21px;
}

.sf-main.sf-menu > li a {
  color: #474747;
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  padding: 15px 15px;
}

//***Search Block Form***//
.search-block-form {
    margin-right: 2px;
}

.search-form-top {
  position: relative;
  bottom: 38px;
  right: 3px;

  @media (max-width: 576px) {
    bottom: 22px;
    right: 1px;
  }
}

//***Header***//
.header {
  position: relative;
  z-index: 4;
  font-family: "museo-sans-rounded", "myriad-pro", Arial, sans-serif;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.05);
}

//** Breadcrumbs **//
.breadcrumb {
  background: white !important;
}

.breadcrumb-item {
    margin: 0;
    float: left;
    font-size: 0.8125em !important;
    text-transform: none;

    a {
      color: #da291c !important;
    }

}

//** Slideshow Region **//
.region-slideshow-region {
  position: relative;
  top: -6px;
}

//**Customer Support Block**//
.customer-support-content {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

/**Page Width Correction for large screen**/
.page-wrapper-class {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

//***Footer Content***//
.site-footer {
  background: $light-gray;
}
