@import "colors";

//***MoS Branding at Top of Page***//
.mos-branding {
  background-color: $light-gray;
  margin-bottom: 10px;

  img {
    height: 25px;
    width: 125px;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    left: 15px;
    //max-width: 80%;

  }
}

//***Site Logo Block***//
a.navbar-brand img {
    height: 90px;
    width: auto;
}

//***TOP MENUS***//
.secondary-menu {
  position: relative;
  //margin-left: -70px;
  //left: 12px;
}
.menu--main {
  margin-left: auto;
  margin-right: auto;
}

.nav-link {
  color: $darkGray;

  :hover {
    color: blue;
  }

  :focus {
    color: blue;
  }
}

.superfish-secondary-navigation {

  @media (min-width: 576px) {
    position: relative;
    top: 5px;
  }

  float:right;
}

.sf-depth-2 {
  background: white;
}

ul.sf-menu a, ul.sf-menu span.nolink {
  display: block;
  padding: 1em 1.1em;
  position: relative;
}

a.secondary-nav-link {
  color: $darkGray;
  font-size: 1.0rem;
}

.navbar-nav li.nav-item > a.nav-link {
  color: $darkGray;
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  padding: 15px 15px;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: $darkGray;
}

.shop-eie {
  //**Shop EiE Button**//
  position: relative;
  font-family: Arial, sans-serif;
  font-size: 10px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  padding: 12px 24px;
  background: #4089BD;
  white-space: nowrap;
  top: 7px;
}

//**Search Bar**//
.form-row.search-block-form.search-form {
  position: relative;
  top: 11px;
  left: 27px;
}


@media (min-width: 576px) {
  svg.svg-inline--fa.fa-search.fa-w-16.float-right {
    position: relative;
    bottom: 28px;
    left: 125px;
  }
}

svg.svg-inline--fa.fa-search.fa-w-16.float-right {
    position: relative;
    bottom: 28px;
    right: 10px;
}

//**Search bar button hidden**//
.search-block-form button {
    display: none;
}

//**Main Nav (Superfish)**//
.block-superfishmain {
  justify-content: center;
  display: flex;
  width: 100%;
}

.sf-main.sf-menu > li a {
  color: #474747;
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  padding: 15px 15px;
}

//***Footer Content***//
.site-footer {
  background: $light-gray;
}

//***Search Block Form***//
.search-block-form {
    margin-right: 2px;
}

//***Header***//
.header {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.05);
}

//**Customer Support Block**//
.customer-support-content {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
