.email-webform-block{
    background: #007398 !important;
    color: #fff !important;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 6rem;
    width: 103% !important;
}

.form-item-email-opt-in {
    float: left;
    margin-left: 18px;
}

.email-submit-button {
  border-radius: 0 !important;
  border: 1px solid white !important;
  background: none !important;
}
